{% extends 'base.html.twig' %}

{% block title %}NotaResto - Accueil{% endblock %}

{% block body %}
    <div class="container home">    
        <h1>Bienvenue sur le meilleur site d'avis des restaurants français !</h1>
        <hr>
        <div class="restaurants">
            <h3>Les 10 Restaurants les mieux notés</h3>
            {% for restaurant in topTen %}
                <div class="one-restaurant">
                    <h2>{{restaurant.name}}</h2>
                    <p>{{restaurant.description}}</p>
                    <p>Note: {{restaurant.rating}}/5</p>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="restaurants">
            <h3>Les 10 Restaurants les plus récents du site</h3>
            {% for restaurant in youngestRestaurants %}
                <div class="one-restaurant">
                    <h2>{{restaurant.name}}</h2>
                    <p>{{restaurant.description}}</p>
                    {% if restaurant.getAverageRating matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                        <p>Note: {{restaurant.getAverageRating}}/5</p>
                    {% else %}
                        <p class="no-note">{{restaurant.getAverageRating}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="restaurants">
            <h3>Tous les restaurants</h3>
            {% for restaurant in restaurants %}
                <div class="one-restaurant">
                    <h2>{{restaurant.name}}</h2>
                    <p>{{restaurant.description}}</p>
                    {% if restaurant.getAverageRating matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                        <p>Note: {{restaurant.getAverageRating}}/5</p>
                    {% else %}
                        <p class="no-note">{{restaurant.getAverageRating}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
