<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {{ encore_entry_link_tags('css') }}
    </head>
    <body>
        <header>
            <div id="main-logo">
                <a href="{{path('home')}}">
                    <img src="{{asset('assets/img/restaurant.png')}}" alt="Logo principal du site - Maison restaurant">
                </a>
            </div>
            <nav id="nav-menu">
                <a href="">Mes restaurants</a>
                <a href="{{ path('add_restaurant') }}">Ajouter un restaurant</a>
                <a href="{{ path('restaurants') }}">Tous les restaurants</a>
                <a href="{{path('user_view')}}">Tous les utilisateurs</a>
                <div class="postal-code">
                    <input type="text" placeholder="Chercher un code postal...">
                </div>
            </nav>
            <nav id="user-identification">
                {% if app.user %}
                    <p>Bienvenue  {{ app.user.email }} !</p>
                    <a href="{{ path('logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('register') }}">S'inscrire</a>
                    <a href="{{ path('login') }}">Se connecter</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
